* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "roboto",sans-serif;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
    
}
a:visited {
    color: #f9faf8;
}
a {
    text-decoration: none;
}
button { 
    background-color: #3882f6;
    border-radius: 8px;
    padding: 7px 1em;
    width: 120px;
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8; 
}
.secondary {
    color: #e5e7eb;
    font-size: 18px;
}
.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }

    .image {
        background-color:darkgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 215px;
    }
.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome .right {
    flex-shrink: 0;
    width: 50%;
}
.welcome button {
    border:none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}
main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    
}
main p {
    color: #1f2937;
}
.square {
  border: 2px solid blue;
  border-radius: 20px;
    height:160px;
    width: 160px;
}

.card {
    text-align: center;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 7em 13em;
}
.quote p {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
    color: #1f2937;
}
.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}
.container {
    background-color: #3882f6;
    color: white;
    padding: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-radius: 10px;
}
.container button {
    color: white;
    border-color: white;
}

footer {
    background-color: #1f2937;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2em 0;
}